<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microsilver.mrcard.serviceplatform.dao.ImsCrowdsourcingOrderLogMapper">
  <resultMap id="BaseResultMap" type="com.microsilver.mrcard.serviceplatform.model.ImsCrowdsourcingOrderLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="identity" jdbcType="TINYINT" property="identity" />
    <result column="operate_status" jdbcType="TINYINT" property="operateStatus" />
    <result column="operate_time" jdbcType="INTEGER" property="operateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_id, member_id, identity, operate_status, operate_time,remark
  </sql>
  <select id="selectByExample" parameterType="com.microsilver.mrcard.serviceplatform.model.ImsCrowdsourcingOrderLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ims_crowdsourcing_order_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ims_crowdsourcing_order_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ims_crowdsourcing_order_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.microsilver.mrcard.serviceplatform.model.ImsCrowdsourcingOrderLogExample">
    delete from ims_crowdsourcing_order_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.microsilver.mrcard.serviceplatform.model.ImsCrowdsourcingOrderLog">
    insert into ims_crowdsourcing_order_log (id, order_id, member_id, 
      identity, operate_status, operate_time,remark
      )
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT}, 
      #{identity,jdbcType=TINYINT}, #{operateStatus,jdbcType=TINYINT}, #{operateTime,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.microsilver.mrcard.serviceplatform.model.ImsCrowdsourcingOrderLog">
    insert into ims_crowdsourcing_order_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="identity != null">
        identity,
      </if>
      <if test="operateStatus != null">
        operate_status,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>  
      <if test="remark != null">
        remark
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="identity != null">
        #{identity,jdbcType=TINYINT},
      </if>
      <if test="operateStatus != null">
        #{operateStatus,jdbcType=TINYINT},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.microsilver.mrcard.serviceplatform.model.ImsCrowdsourcingOrderLogExample" resultType="java.lang.Integer">
    select count(*) from ims_crowdsourcing_order_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ims_crowdsourcing_order_log
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.memberId != null">
        member_id = #{record.memberId,jdbcType=BIGINT},
      </if>
      <if test="record.identity != null">
        identity = #{record.identity,jdbcType=TINYINT},
      </if>
      <if test="record.operateStatus != null">
        operate_status = #{record.operateStatus,jdbcType=TINYINT},
      </if>
      <if test="record.operateTime != null">
        operate_time = #{record.operateTime,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ims_crowdsourcing_order_log
    set id = #{record.id,jdbcType=BIGINT},
      order_id = #{record.orderId,jdbcType=BIGINT},
      member_id = #{record.memberId,jdbcType=BIGINT},
      identity = #{record.identity,jdbcType=TINYINT},
      operate_status = #{record.operateStatus,jdbcType=TINYINT},
      operate_time = #{record.operateTime,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.microsilver.mrcard.serviceplatform.model.ImsCrowdsourcingOrderLog">
    update ims_crowdsourcing_order_log
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="identity != null">
        identity = #{identity,jdbcType=TINYINT},
      </if>
      <if test="operateStatus != null">
        operate_status = #{operateStatus,jdbcType=TINYINT},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.microsilver.mrcard.serviceplatform.model.ImsCrowdsourcingOrderLog">
    update ims_crowdsourcing_order_log
    set order_id = #{orderId,jdbcType=BIGINT},
      member_id = #{memberId,jdbcType=BIGINT},
      identity = #{identity,jdbcType=TINYINT},
      operate_status = #{operateStatus,jdbcType=TINYINT},
      operate_time = #{operateTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>